.smoothieContent {
	border: 1px solid #494949;
	padding: 1px;
	background:rgba(0,0,0,0.25);
	
}
.ui-resizable-helper { border: 1px dashed #848484; }

.smoothieChart {
	height:50px;
	width:300px;
	background:rgba(0,0,0,0.50);
}